<div class="chatbox_parent">
    <div class="chat_box_header">
        <div class="chatbox_header_inner">
            <div class="left-header">
                <div class="profile-box">
                    <div class="chat_box_header_profile">
                        <img src="https://media-del2-1.cdn.whatsapp.net/v/t61.24694-24/473406303_2352759165099127_52585189839572823_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5AaIMTSuhd3oy8aK6wSXdSpukLl0lv_TrTkTj7ysbzFE-xZ&oe=67C6C428&_nc_sid=5e03e0&_nc_cat=110"
                            alt="">
                    </div>
                </div>
                <div class="profile_user_name">
                    <h6>{{filteredChat.name}}</h6>
                </div>
            </div>
            <div class="right-header d-flex align-items-center">
                <div class="search-icon me-4">
                    <svg class="search_icon" viewBox="0 0 24 24" height="30" width="30"
                        preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px"
                        enable-background="new 0 0 24 24">
                        <title>search</title>
                        <path fill="currentColor"
                            d="M15.009,13.805h-0.636l-0.22-0.219c0.781-0.911,1.256-2.092,1.256-3.386 c0-2.876-2.332-5.207-5.207-5.207c-2.876,0-5.208,2.331-5.208,5.207s2.331,5.208,5.208,5.208c1.293,0,2.474-0.474,3.385-1.255 l0.221,0.22v0.635l4.004,3.999l1.194-1.195L15.009,13.805z M10.201,13.805c-1.991,0-3.605-1.614-3.605-3.605 s1.614-3.605,3.605-3.605s3.605,1.614,3.605,3.605S12.192,13.805,10.201,13.805z">
                        </path>
                    </svg>
                </div>
                <div class="heamburger_menu">
                    <svg viewBox="0 0 24 24" height="30" width="30" preserveAspectRatio="xMidYMid meet" class=""
                        version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24">
                        <title>menu</title>
                        <path fill="currentColor"
                            d="M12,7c1.104,0,2-0.896,2-2c0-1.105-0.895-2-2-2c-1.104,0-2,0.894-2,2 C10,6.105,10.895,7,12,7z M12,9c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,9.895,13.104,9,12,9z M12,15 c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,15.894,13.104,15,12,15z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="chat_box_middle">
        <!-- <img src="https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png" alt="">    -->
        <div class="chat_box">
            <div class="date_time">
                <span>11/12/2024</span>
            </div>
        </div>
    </div>
</div>