/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #dbd8d4, #eae6df, #dbd8d4,#d1d7db);
    background-color: #dbd8d4, #dbd8d4;
    font-family: "Poppins", serif;
}

/* ROOT CSS */
mat-icon {
    font-family: 'Material Icons' !important;  
}
.p-relative {
    position: relative;
}
input {
    font-family: "Poppins", serif;
}
input:focus {
    color: auto;
    background-color: transparent;
    border-color: #dee2e6 !important;
    outline: 0;
    box-shadow: none !important;
}